.app {
  max-width: 1040px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 90px;
}

.header {
  width: 100%;
}

.column {
  width: 256px;
  margin-right: 48px;
}
