.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.input {
  width: 91px;
  height: 30px;
  padding: 0 16px;
  border: 1px solid #7e8fa4;
  font-size: 14px;
  color: #323c48;
}

.input::placeholder {
  color: #7e8fa4;
}

.label {
  flex-grow: 1;
  font-weight: 600;
  font-size: 14px;
  color: #323c48;
  padding: 0 6px;
}

.btn {
  width: 100%;
  padding: 9px 0;
  background: #323c48;
  text-transform: capitalize;
  font-size: 14px;
  color: #ffffff;
}
